[Unit]
Description=SS-Cloak Client Service
Wants=network-online.target
After=network.target

[Service]
Type=simple
Environment=RUST_LOG=shadowsocks=debug,shadowsocks_service=debug,mio=off,tokio=off,hyper=off,trust_dns=off

ExecStart=/bin/bash -c 'sslocal --log-without-time -c ~/.config/ss-cloak-client/config.json | \
grep -a --line-buffered -vE "rlimit|CopyBuffer" | stdbuf -oL cut -f2- -d" " \
> ~/.config/ss-cloak-client/ss-cloak-client.log'

Restart=on-failure
RestartSec=3
# Ограничиваем ресурсы немного, опционально
# LimitNOFILE=4096
# LimitNPROC=512

[Install]
WantedBy=default.target
