[Unit]
Description=SS-Obfuscator-Client Service
Wants=network-online.target
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'ss-local -v -c ~/.config/ss-obfuscator-client/client.json > ~/.config/ss-obfuscator-client/ss-obfuscator-client.log'
ExecStop=killall ss-local

Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=default.target
